{% extends 'base.html' %}

{% block main %}

<h1>Add New Property</h1>


<form action="{{url_for('property')}}" method="POST" enctype="multipart/form-data"> 
    {{ form.csrf_token }}
    
    <div class='propgroup1'>
        <div class='item'>
            {{ form.title.label }}
            {{ form.title }}
        </div>
        
        <div class='item'>
            {{ form.desc.label }}
            {{ form.desc }}
        </div>
    </div>
    <div class='propgroup2'>
        <div class='item'>
            {{ form.bedroom.label }}
            {{ form.bedroom }}
        </div>
        <div class='item'>
            {{ form.bathroom.label }}
            {{ form.bathroom }}
        </div>
        <div class='item'>
            {{ form.price.label }}
            {{ form.price }}
        </div>
        <div class='item'>
            {{ form.select.label }}
            {{ form.select }}
        </div>
        <div class='item'>
            {{ form.location.label }}
            {{ form.location }}
        </div>
    </div>
    <div class='propgroup3'>
        {{ form.photo.label }}
        {{ form.photo }}

        <button type="submit" class="bttn">Add Property</button>
    </div>

</form>



{% endblock %}