{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Properties</h1>

{% include 'flash_messages.html' %}

<ul>
    {% for p in prop %}
    
        <div class=propitem> 
            <li><img  src="{{ url_for('get_image', ph=p['photo']) }}"/></li>
            <li>{{p['title']}}</li>
            <li>{{p['location']}}</li>
            <li>{{p['price']}}</li>
            <li><a href="{{url_for('viewproperty', propertyid=p['id'])}}">View Property</a></li>
        </div>
    
    
    {% endfor %}   

</ul>

{% endblock %}